<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" fileName="../logs/game.log"
      archiveEvery="Day"
      archiveFileName="../logs/back/game-{########}.log"
      archiveNumbering="Date"
      archiveDateFormat = "yyyyMMdd"
      maxArchiveFiles = "90"
      layout="${date:format=HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message} ${exception:format=tostring}"/>

    <target xsi:type="File" name="errorfile" fileName="../logs/game-error.log"
      archiveEvery="Day"
      archiveFileName="../logs/back/game-error-{########}.log"
      archiveNumbering="Date"
      archiveDateFormat = "yyyyMMdd"
      maxArchiveFiles = "30"
      layout="${date:format=HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message} ${exception:format=tostring}"/>

    <target xsi:type="File" name="warnfile" fileName="../logs/game-warn.log"
      archiveEvery="Day"
      archiveFileName="../logs/back/game-warn-{########}.log"
      archiveNumbering="Date"
      archiveDateFormat = "yyyyMMdd"
      maxArchiveFiles = "30"
      layout="${date:format=HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message} ${exception:format=tostring}"/>

    <target xsi:type="Console" name="console"
      layout="${date:format=HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true} ${logger:shortName=true} - ${message} ${exception:format=tostring}"/>
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs, Memcached logs and so log only own logs-->
    <logger name="Microsoft.AspNetCore.Hosting.*" minLevel="Info" writeTo="allfile" final="false"/>
    <logger name="Microsoft.AspNetCore.Mvc.*" maxLevel="Info" final="true"/> <!-- BlackHole without writeTo -->
    <logger name="Microsoft.AspNetCore.Routing.*" maxLevel="Info" final="true"/> <!-- BlackHole without writeTo -->
    <logger name="Enyim.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->

    <!-- Console Log-->
    <logger name="*" minlevel="Info" writeTo="console" />

    <!-- File Log-->
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" level="Error" writeTo="errorfile" />
    <logger name="*" level="Warn" writeTo="warnfile" />

  </rules>
</nlog>